doctype html
html
  head
    title NGX Controller
    meta(charset="utf-8")
    meta(name="viewport",width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0)
    script(type='text/javascript',src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel="stylesheet",href='http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css')
    script(type='text/javascript',src='//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js')
    style
      include style.css
  body
    div(data-role="page",id="ngxSwipeDiv")
      div(data-role="header",data-theme="b")
        h1 The NGX Controller
        a(href="#popupDialog" data-rel="popup" data-position-to="window" id="showMenu",ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check) Help
        div(data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;")
          div(data-role="header" data-theme="a")
            h1 Help
            div(role="main" class="ui-content")
              h3 Swipe
              p Swipe is simple swipe function.
              a(href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back") Close
       
      div(data-role="main",class="ui-content",data-theme="b")
        canvas(class="ngxCtlPanel",id="ngxSwipePanel",style="border: 1px solid #4d4d4d;text-align:center;")
      div(data-role="footer")
        div(data-role="navbar" data-iconpos="bottom")
          ul
            li
              a(href="#ngxSwipeDiv",data-icon="grid",class="ui-btn-active") Swipe
            li
              a(href="#ngxMoveXyDiv",data-icon="star") Move XY
            li
              a(href="#ngxWsadDiv",data-icon="gear") WSAD
    div(data-role="page",id="ngxMoveXyDiv")
      div(data-role="header",data-theme="b")
        h1 The NGX Controller
        a(href="#popupDialog" data-rel="popup" data-position-to="window" id="showMenu",ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check) Help
        

      div(data-role="main",class="ui-content",data-theme="b")
        canvas(class="ngxCtlPanel",id="ngxWsadPanel",style="border: 1px solid #4d4d4d;text-align:center;")      div(data-role="footer")
        div(data-role="navbar" data-iconpos="bottom")
          ul
            li
              a(href="#ngxSwipeDiv",data-icon="grid") Swipe
            li
              a(href="#ngxMoveXyDiv",data-icon="star",class="ui-btn-active") Move XY
            li
              a(href="#ngxWsadDiv",data-icon="gear") WSAD
    div(data-role="page",id="ngxWsadDiv")
      div(data-role="header",data-theme="b")
        h1 The NGX Controller
        a(href="#popupDialog" data-rel="popup" data-position-to="window" id="showMenu",ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check) Help
        
      div(data-role="main",class="ui-content",data-theme="b")
        div(id="divButtons")
          input(type="button",data-inline="true",value="")
          input(type="button",data-inline="true",value="W",class="btnWsad")
          br
          input(type="button",data-inline="true",value="A",class="btnWsad")
          input(type="button",data-inline="true",value="S",class="btnWsad")
          input(type="button",data-inline="true",value="D",class="btnWsad")
      div(data-role="footer")
        div(data-role="navbar" data-iconpos="bottom")
          ul
            li
              a(href="#ngxSwipeDiv",data-icon="grid") Swipe
            li
              a(href="#ngxMoveXyDiv",data-icon="star") Move XY
            li
              a(href="#ngxWsadDiv",data-icon="gear",class="ui-btn-active") WSAD
       
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
      var socket = io();
      socket.emit('join', 'device', '#{siteID}');
      
      $(window).unload(function() {
        socket.emit('exit', 'device', '#{siteID}');
      });
    script
      include script.js
    
    